html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Rokkitt", serif;
  font-size: 18px;
  line-height: 1.6;
  color: #020;
  background-size: cover;
  background: #980B0B;
}
figure {
  margin: 0;
}

.log_box {
    display: block;
    width: 900px;
    margin: 300px auto;
    margin-right: 300px;
}

img, svg {
    vertical-align: middle;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*logining page*/
.mb-3 {
    margin-bottom: 1rem !important;
}
.fw-normal {
    font-weight: 400 !important;
}
.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}

.form-floating {
    position: relative;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-floating>.form-control, .form-floating>.form-control-plaintext {
    padding: 1rem .75rem;
}
.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: calc(3.5rem + calc(var(--bs-border-width)* 2));
    min-height: calc(3.5rem + calc(var(--bs-border-width)* 2));
    line-height: 1.25;
}
.form-control {
    display: block;
    width: 35%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background-clip: padding-box;
    border-color: black;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}

.log__reg {
    display:inline-block;
    margin:0 auto;
    align-items:center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fforma {
    margin-left: 900px
}
input {
    justify-content: center;
    align-items: center;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}



.btnn {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border: 3px solid #020;
  font-size: 16px;
  font-weight: 700;
  color: #020;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  transition: background 0.1s linear, color 0.1s linear;
  margin-bottom: 10px;
  margin-left: 900px;

}
/*изменение цвета слова при наводе мышкой*/
.btnn:hover {
  background-color: #980B0B;
  color: #020;
}
.btnnn {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border: 3px solid #020;
  font-size: 16px;
  font-weight: 700;
  color: #020;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  transition: background 0.1s linear, color 0.1s linear;
  margin-bottom: 10px;
  margin-right: 500px;

}
/*изменение цвета слова при наводе мышкой*/
.btnnn:hover {
  background-color: #980B0B;
  color: #020;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Container*/
.container {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

/*intro*/

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  background: #ffe4b5;
  -webkit-background-size: cover;
  background-size: cover;
}

.forma {
    width: 600px;
    margin: 0 auto;

}

.min__title {
  color: black;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Raleway";
  margin-bottom: 30px;
  margin-left: 800px


}
.search__box {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.search__box1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -1000px;
  margin-bottom: 10px

}
.search_1 {
    width: 600px;
    margin-right: 10px;
    border: 1px solid #020;
  border-radius: 30px;
}
.btn__search1 {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #020;
   color: #020;
  font-size: 14px;
  font-weight: 500;
  color: #020;
  text-decoration: none;
  transition: background 0.1s linear, color 0.1s linear;
  margin-left: -160px
}
/*изменение цвета слова при наводе мышкой*/
.btn__search1:hover {
  background-color: #980B0B;
  color: #020;
}
.btn__search {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #020;
   color: #020;
  font-size: 14px;
  font-weight: 500;
  color: #020;
  text-decoration: none;
  transition: background 0.1s linear, color 0.1s linear;

}
/*изменение цвета слова при наводе мышкой*/
.btn__search:hover {
  background-color: #980B0B;
  color: #020;
}
ul{
margin-top: 100px;
}
.min__title__right {
  color: black;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Raleway";
  margin-bottom: 30px;
 margin-left: 800px

}
/*header*/
.header,
.footer {
  display: flex;
  background-color: #020;
  color: #fff;
  padding: 0px 15px 0px 15px;
  width: 100%;
  position: sticky;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*логотип*/
.header__logo {
  font-size: 25px;
  font-weight: 700;
  color: #FFFAFA;
}

/*nav*/
.nav {
  font-size: 20px;
  padding: 5px;
  text-transform: uppercase;
}
/*ссылки*/
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  position: relative;
  color: #FFFAFA;
  text-decoration: solid;
  transition: color 0.2s linear;
}

/*полоски под ссылками в правом верхнем углу*/
.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  display: none;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
/*изменение цвета слова и полоски снизу при наводе мышкой*/
.nav__link:hover {
  color: #D9D9D9;
}
.nav__link:hover:after {
  display: block;
}
/*курсор при наводе на ссылки в хэдере*/
.headerButton {
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 8px 10px;
  border: 3px solid #020;
  font-size: 16px;
  font-weight: 700;
  color: #020;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.1s linear, color 0.1s linear;
  margin-bottom: 20px;

}
/*изменение цвета слова при наводе мышкой*/
.btn:hover {
  background-color: #980B0B;
  color: #020;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.block__left,
.block__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 3em;
}

.block__left {
  background-color: #980B0B;
  width: 100%;
  height: 100vh;
}

.block__right {
  background-color: #eaeaea;
  width: 100%;
  height: 100vh;
}


.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.3);
opacity: 0;
position: fixed; /* фиксированное поцизионирование */
cursor: default; /* тип курсара */
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}
.popup h1 { /* заголовок 1 */
color: black;
text-align: left;
text-shadow: 0 1px 3px rgba(0,0,0,.3);
font:24px 'Trebuchet MS', Helvetica, sans-serif;
font-weight: bold;
}
.popup h2 { /* заголовок 2 */
color: #008000;
text-align: left;
text-shadow: 0 1px 3px rgba(0,0,0,.3);
font:22px 'Trebuchet MS', Helvetica, sans-serif;
}
/*** Формируем стили модального окна ***/
.popup {
top: 0;
right: 0;
left: 0;
font-size: 14px;
z-index: 10;
display: block;
visibility: hidden;
margin: 0 auto;
width: 90%;
min-width: 320px;
max-width: 800px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 15px;
border: 1px solid #383838;
/* скругление углов */
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
background-color: white;
/* внешняя тень блока */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
/* полная прозрачность окна, появление при клике */
opacity: 0;
/* эффект перехода (появление) */
-webkit-transition: all ease .5s;
-moz-transition: all ease .5s;
-ms-transition: all ease .5s;
-o-transition: all ease .5s;
transition: all ease .5s;
}
/* активируем появление окна и затемнение фона */
.overlay:target+.popup {
top: 20%; /* положение окна от верха страницы при появлении */
visibility: visible;
opacity: 1; /* убираем прозрачность */
}
/* формируем кнопку закрытия */
.close {
position: absolute;
top: -10px;
right: -10px;padding: 0;
width: 20px;
height: 20px;
border: 2px solid #ccc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
text-decoration: none;
font-weight: bold;
line-height: 20px;
/* задаём значения и эффект перехода при наведении */
-webkit-transition: all ease .8s;
-moz-transition: all ease .8s;
-ms-transition: all ease .8s;
-o-transition: all ease .8s;
transition: all ease .8s;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 12px;
}
.close:hover {
background-color: rgba(252, 20, 0, 0.8);
/* крутим кнопку при наведении */
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
/* опционально при добавлении вложений */
.popup p, .popup div {
margin-bottom: 10px;
}
.page-block {
  width: 200px;
  height: 200px;
  padding: 3px;
  border: 2px solid black;
  color: black;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.page-block img{
    width: 100%;
    height: 100%;
}
.btn__inplaylist {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border: 3px solid #020;
  font-size: 10px;
  font-weight: 700;
  color: #020;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  transition: background 0.1s linear, color 0.1s linear;
  margin-bottom: 10px;


}
/*изменение цвета слова при наводе мышкой*/
.btn__inplaylist:hover {
  background-color: #980B0B;
  color: #020;
}