<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

  </head>
  <body>

  <form class="log_box" method="post">
    <img class="mb-4" src="{{ url_for('static', filename='assets/wee.jpeg') }}" alt="" width="15%" height="15%">
    <h1 class="h3 mb-3 fw-normal">Пожалуйста войдите в аккаунт</h1>
      {% if error_message %}
      <h1 class="h3 mb-3 fw-normal">{{error_message}}</h1>
    {% endif %}

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="login" placeholder="Логин" >
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Пароль">
    </div>
    <div class="log__reg">

        <button class="btnnn" name="action" type="submit">Войти</button>
        <a class="btnnn" href="{{url_for('registre')}}">Регистрация</a>

    </div>
  </form>




  </body>
</html>