<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">WS</div>

          <nav class="nav headerButton">
              <a class="nav__link" href="/main">Главная</a>
              <a class="nav__link" href="/playlists">Плейлисты</a>
            <a class="nav__link" href="/begin">Войти</a>

          </nav>
        </div>
      </div>
    </div>
  <div class="block">

        <h3 class="min__title">Для вас</h3>
          <div class="search__box">
              <form action="/" method="post">
                    <input type="text" id="track_name" name="track_name" class="search_1" placeholder="Название песни">
                    <button class="btn__search" type="submit">Поиск</button>
                </form>
          </div>

          {% if tracks %}

            <ul>
                {% for track in tracks %}
                <li>

                    <form class="fforma" action="/audio" method="post">
                        <figure class="search__box1">
                          <audio controls src="{{ url_for('static', filename='media/Blinding Lights.mp3') }}"></audio>
                          <a class="btn__inplaylist" href="/media/Blinding Lights.mp3"> Download audio </a>
                        </figure>
                        <button class="btn__search1" type="submit" name="track_id" value="{{ track.track_id }}">
                            <!-- Отображение данных согласно словарю из массива-->
                            {{ track.title }} - {{ track.artist }}
                        </button>
                        <a class="btn__inplaylist" href="#win">Добавить в плейлист</a>
                        <a href="#x" class="overlay" id="win"></a>
                        <div class="popup">
                            {% for playlist in playlists %}
                              <button name="add_track" class="addBtn" type="submit">{{playlist.title}}</button>
                              {%endfor%}

                        <a class="close" title="Закрыть" href="#close"></a>
                        </div>
                    </form>

                </li>
                {% endfor %}
            </ul>

            {% endif %}





  </div>
  </body>
</html>