<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">WS</div>

          <nav class="nav headerButton">
            <a class="nav__link" href="/begin">Войти</a>
            <a class="nav__link" href="/begin">Зарегистрироваться</a>
            <a class="nav__link" href="">Профиль</a>
          </nav>
        </div>
      </div>
    </div>
  <div class="block">
      <div class="block__left">
        <h3 class="min__title">Для вас</h3>
          <div class="search__box">
              <form action="/" method="post">
                    <input type="text" id="track_name" name="track_name" class="search_1" placeholder="Название песни">
                    <button class="btn__search" type="submit">Поиск</button>
                </form>
          </div>

          {% if tracks %}

            <ul>
                {% for track in tracks %}
                <li>

                    <form action="/audio" method="post">
                        <button class="btn__search" type="submit" name="track_id" value="{{ track.track_id }}">
                            <!-- Отображение данных согласно словарю из массива-->
                            {{ track.title }} - {{ track.artist }}
                        </button>
                    </form>

                </li>
                {% endfor %}
            </ul>

            {% endif %}



      </div>
      <div class="block__right">
        <h3 class="min__title__right">Ваши плейлисты</h3>
          <a href="#win" class="btn">Добавить плейлист</a>
             <a href="#x" class="overlay" id="win"></a>
   <div class="popup">
       <form method="post" class="form-control">
                    <input type="text" id="playlist_name" name="playlist_name" class="search_1" placeholder="Название плейлиста"><br>
                    <input class="btn__search" type="file" name="playlist_image" onchange='readURL(this)' accept="Image/*">
                    <button class="addBtn" type="submit">Сохранить</button>
       </form>
<!--    <a><img title="" src="https://picsum.photos/150/150/?random" width="150" height="300" alt="" />  </a>-->

    <a class="close" title="Закрыть" href="#close"></a>
    </div>
          <div id="row">
        <div class="page-block">
            Лайкнутые
        </div>
        </div>
      </div>
  </div>
  </body>
</html>